body {
    margin: 0px;
    background-color: #daf4ff;
}

/* Estilização do título */
.titulo_formulario {
  font-family: 'Jockey One', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  margin-top: 40px;
  color: #4c9bc9;
}

/* Estilização do formulário, label, input e botão */
form {
  background-color: rgba(179, 204, 241, 0.8);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

label {
    color: #075d8f;
}

input {
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1rem;
  width: 40%;
}

input[type="radio"] {
    width: 5%;
    height: 15px;
}

button {
  background-color: #399de0;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2194e0;
}

.traco {
  background-color: #daf4ff;
  height: 4px;
  width: 100%;
  margin: 30px 0;
}

/* Estilização do Rodapé */
footer {
    margin: 0px;
    background: #c0e6f7;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 10px;
}


.logo {
    max-width: 150px;
    max-height: 130px;
    border-radius: 80px;
    margin: 20px;
}

.footer_frase_direitos {
    margin: 35px;
    font-family: "Poppins";
    font-size: 1.2rem;
    color: #308991;
    align-items: center;
    text-align: center;

}

.contato {
    margin: 70px;
}

.contato a {
    text-decoration: none;
    font-family: "Poppins";
    text-align: center;
    font-size: 1.2rem;
    color: #308991;
}

.contato a:hover {
    text-decoration: underline;
}