body {
    margin: 0px;
    background-color: #FFF0D4;
    ;
}

.nav_web {
    display: flex;
    justify-content: center;
    background-color: #FFF0D4;
    padding: 10px 30px;
}

/* Estilização dos links presentes na nav */
.link {
    display: flex;
    gap: 100px;
}


.link li {
    text-align: center;
    list-style: none;
    font-family: 'Jockey One';
}

.link li a {
    text-decoration: none;
    color: #A65F3E;
    font-weight: 500;
    font-size: 1.8rem;
}

.container_nav {
    display: flex;
    justify-content: space-around;
    /* ou space-evenly */
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu span {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
}

.menu-responsivo {
    display: none;
}


/* Estilização da imagem de capa e título */
.img_estilo {
    display: flex;
    width: 100%;
    height: calc(150vh - 80px);
    background-image: url(../img_eventos/eventos.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);

    border-top: 5px solid #FFF0D4;
    border-bottom: 5px solid #FFF0D4;
}

.img_estilo h2 {
    font-family: "Exile";
    text-shadow: 10px 0px 25px #000000;
    font-weight: 200;
    font-size: 7rem;
    color: rgb(255, 174, 235);
}

/* Estilização da Descrição */
.container_eventos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin: 20px;
}

.container_eventos h3 {
    font-family: "Jockey One";
    font-size: 3rem;
    font-weight: 200;
    color: #a9894e;
}

.traco {
    background: #fbdea7;
    margin-top: 20px;
    height: 5px;
    width: 100%;
}

.descricao_eventos {
    font-family: "Poppins";
    font-size: 1.5rem;
    width: 2200px;
}

/* Estilização da mensagem e botão */
.mensagem_eventos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.mensagem_eventos h3 {
    font-family: "Poppins";
    font-size: 2rem;
    width: 1400px;
    color: #a18665;
}

.btn {
    background: linear-gradient(90deg, rgb(255, 212, 152), rgb(255, 200, 243));
    color: rgb(104, 46, 2);
    padding: 15px 15px;
    border: 2px solid rgb(80, 57, 84);
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 1.3rem;
    margin: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

#chat-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #bda477;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Janela do chat (inicialmente escondida) */
#chat-window {
    position: fixed;
    bottom: 120px;
    right: 20px;
    width: 450px;
    height: 500px;
    background: rgb(221, 206, 157);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

/* Área das mensagens */
#chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 16.5px;
    border-radius: 10px
}

/* Mensagens do bot */
.bot-message {
    background: #f5e485;
    padding: 10px 12px;
    border-radius: 15px;
    margin: 10px;
    max-width: 80%;
}

/* Mensagens do usuário */
.user-message {
    background: #c99637;
    color: white;
    padding: 8px 12px;
    border-radius: 15px;
    margin: 10px;
    max-width: 80%;
    align-self: flex-end;
}

/* Campo para enviar texto */
#chat-input-container {
    border-top: 1px solid #ccc;
    padding: 8px;
    display: flex;
}

#chat-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

#chat-send-btn {
    background: #756026;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilização do Rodapé */
footer {
    margin: 0px;
    background: #f7d8b1;
    display: flex;
    justify-content: space-between;
    height: 150px;
}


.logo {
    max-width: 150px;
    max-height: 130px;
    border-radius: 80px;
    margin: 20px;
}

.footer_frase_direitos {
    margin: 35px;
    font-family: "Poppins";
    font-size: 1.2rem;
    color: #3b190a;
    align-items: center;
    text-align: center;

}

.contato {
    margin: 70px;
}

.contato a {
    text-decoration: none;
    font-family: "Poppins";
    text-align: center;
    font-size: 1.2rem;
    color: #3b190a;
}

.contato a:hover {
    text-decoration: underline;
}